@import url("hyphens.css");

p { text-align: justify; }

p:not([class]) {
  margin: 0;
  padding: 0;
}

p:not([class]) + p:not([class]) {
  text-indent: 1em;
}

h1,
h2,
h3 { text-align: center; }

h3 {
  font-style: italic;
  border-bottom: 1px solid;
}

blockquote { margin: 1em 0 1em 2em; }

.example {
  font-family: monospace;
  word-break: break-word;
  hyphens: none;
}

ol.footnotes {
  padding-left: 0;
  list-style: inside decimal;
}

ol.footnotes > li {
  margin-bottom: 1em;
}

.credits {
  font-style: italic;
  text-align: right;
}

span.dropcaps {
  font-weight: normal;
  font-size: 320%;
  float: left;
  margin-top: -0.2em;
  margin-bottom: -0.3245em;
}

.section-separator {
  text-align: center;
  font-family: monospace;
  font-size: 130%;
}
